body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://zombiesubtitles.files.wordpress.com/2014/04/screen-shot-2014-04-28-at-9-16-54-pm.png");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.gollum{
  background-image: url("http://forgifs.com/gallery/d/246188-2/Baby-Gollum.gif");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  position:absolute;
}