body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://cdn.pcwallart.com/images/pixel-art-pokemon-wallpaper-2.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.gollum{
  background-image: url("http://forgifs.com/gallery/d/246188-2/Baby-Gollum.gif");
/*  background-size: 300px 300px;
*/height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  position:absolute;
}

.spinning{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.rocketBalloon{
  background-image: url("https://media.giphy.com/media/v3kINmQVvPH4A/giphy.gif");
  background-size: 5%;
  height: 99%;
  width: 100%;
  background-repeat: no-repeat;
  position:absolute;
/*  top: 150px;
  left: 150px;*/
  margin: 0px 0px 0px 0px;
}
/* trying to make grow or zoomIn work with rocketBalloon*/
/*.zoomIn {
  animation-name: zoomIn;
  animation-duration: 3s;
}*/

.wobble { 
  -webkit-animation: wobble 5s infinite; 
}

@-webkit-keyframes wobble  {
0%  { -webkit-transform:  rotate(0deg); }
20%  { -webkit-transform:  rotate(8deg); }
50%  { -webkit-transform:  rotate(-8deg); }
100%  { -webkit-transform:  rotate(0deg); }
}

/*@keyframes zoomIn { from { opacity: 0; transform: scale3d(.3, .3, .3); } 50% { opacity: 1; }}
*/

@-moz-keyframes spin {100% { -moz-transform: rotate(360deg); }}
@-webkit-keyframes spin {100% { -webkit-transform: rotate(360deg); }}
@keyframes spin {100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}